<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamrocket.majorizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/AppName"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/AppName"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan|stateHidden" />
        <activity android:name=".Admin.SelectAccountTypeActivity" />
        <activity android:name=".Admin.CreateStudentAccountActivity" />
        <activity android:name=".Admin.CreateAdvisorAccountActivity" />
        <activity android:name=".Admin.CreateUndergradAccountActivity" />
        <activity android:name=".Admin.CreateGradAccountActivity" />
        <activity
            android:name=".Admin.UnlockAccountActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Student.UndergradClassHistoryActivity" />
        <activity android:name=".Student.UndergradClassesNeededActivity" />
        <activity android:name=".Admin.ChangeCurriculumActivity" />
        <activity android:name=".Admin.SelectCourseTypeActivity" />
        <activity android:name=".Admin.RemoveCourseActivity" />
        <activity android:name=".Advisor.AdvisorMyAdviseesTileActivity" />
        <activity android:name=".Advisor.AdviserSearchStudentsTileActivity" />
        <activity android:name=".Advisor.AdvisorDropAdviseeTileActivity" />
        <activity android:name=".Student.UndergradCurrentClassesActivity" />
        <activity android:name=".Admin.SearchAccountActivity" />
        <activity android:name=".Advisor.StudentInfoActivity"></activity>
    </application>

</manifest>